.dot-nav {
  display: flex;
  justify-content: center;

  span,
  button {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: color("brandGrayLight3");
    margin: 0 6px;
    cursor: pointer;
    transition: background 350ms;

    &:focus {
      outline: none;
    }

    &:hover {
      background: darken(color("brandGrayLight3"), 10%);
    }

    &.active {
      background: color("secondary");
      opacity: 0.75;

      &:hover {
        background: color("secondary");
      }
    }
  }
}
