/* stylelint-disable */
input[type="text"],
input[type="email"],
select:not([class*="datepicker"]),
textarea {
  padding: 0 27px;
  height: 50px;
  border-radius: 24px;
  box-shadow: inset 0 2px 4px 0 rgba(153, 153, 153, 0.15);
  border: solid 1px color("brandGrayLight2");
  background-color: color("brandGrayLight");
  transition: border 350ms;

  &:focus {
    outline: none;
    border-color: color("primary");
  }
}

.label-hero,
.label-full {
  display: none;
}

.small-form-thanks,
.large-form-thanks {
  display: none;
}

.large-form-thanks {
  &__intro {
    padding-top: 75px;

    h2 {
      color: color("primary");
      max-width: 800px;
    }

    p {
      max-width: 800px;
    }

    &__box {
      margin-top: 50px;
      background: #f5f5f5;
      padding: 44px 22px 27px;
      display: flex;
      border-radius: 24px;

      &__half {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 50%;

        &:last-child {
          border-left: 1px solid #e5e5e5;

          .large-form-thanks__intro__box__item:nth-of-type(3) span:last-child {
            word-break: break-all;
          }
        }
      }

      &__item {
        width: calc(50% - 35px);
        flex: 0 0 calc(50% - 35px);
        margin: 0 17.5px 22px;

        span {
          display: block;
          font-size: 14px;

          &:nth-of-type(1) {
            font-weight: 600;
          }
        }
      }
    }
  }

  &__list {
    padding: 100px 0 40px;

    .fancy-list__list {
      padding-top: 0;
    }
  }

  &__links {
    padding: 0 0 50px;
  }

  @include breakpoint(medium down) {
    &__intro {
      &__box {
        // CSS
      }
    }
  }

  @include breakpoint(small down) {
    &__intro {
      &__box {
        margin-top: 20px;
        padding: 34px 16px 10px;
        flex-direction: column;

        &__item {
          width: 100%;
          flex: 0 0 100%;
          margin: 0 0 22px;
        }

        &__half {
          flex: 0 0 auto;

          &:last-child {
            border: none;
            border-top: 1px solid #e5e5e5;
            padding-top: 17px;

            .large-form-thanks__intro__box__item {
              width: calc(50% - 20px);
              flex: 0 0 calc(50% - 20px);
              margin: 0 0 22px;
              padding-right: 20px;
            }
          }
        }
      }
    }
  }

  @include breakpoint(374px down) {
    &__intro {
      &__box {
        padding: 24px 12px 10px;

        &__item {
          margin: 0 0 20px;
        }

        &__half {
          &:last-child {
            .large-form-thanks__intro__box__item {
              width: 100%;
              flex: 0 0 100%;
              margin: 0 0 20px;
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}

.form-section {
  &__title {
    display: none;
  }

  &__shortText {
    display: none;
  }

  &__longText {
    display: none;
  }

  &__button {
    button {
      cursor: pointer;
    }
  }

  &__data,
  &__side,
  &__signup,
  &__map {
    display: none;
  }
}

body .gform_wrapper {
  input,
  select:not([class*="datepicker"]) {
    &:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
      @extend input[type="text"];

      &.input-error {
        border-color: red;
      }
    }
  }

  li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
  li.gfield_error textarea,
  li.gfield_error select {
    border-color: red !important;
  }

  .validation_message,
  .validation_error {
    display: none;
  }

  .gfield_label,
  .ginput_left label,
  .ginput_right label {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  .top_label .gfield div.ginput_container {
    margin: 0;
    position: relative;
  }

  .gfield {
    padding: 0 !important;
    position: relative;

    input[type="text"],
    select {
      width: 100% !important;
    }

    .ginput_container_select {
      position: relative;

      &::after {
        content: "\f078";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 18px;
        color: color("secondary");
        position: absolute;
        top: 12px;
        right: 15px;
      }
    }

    select {
      appearance: none;
    }

    textarea {
      padding: 15px 27px !important;
    }

    img.ui-datepicker-trigger {
      width: 24px !important;
      height: 24px !important;
      background: url("../images/calendar-icon.png");
      background-size: 24px;
      padding-left: 24px;
      position: absolute;
      right: 18px;
      top: 12px;
    }
  }

  .gform_legacy_markup_wrapper li.field_sublabel_below .ginput_complex.ginput_container_email {
    margin-top: 0 !important;

    span:not(.ginput_price) {
      margin-bottom: 16px;

      &:last-of-type {
        margin-bottom: 0 !important;
      }
    }
  }

  &.gform_validation_error {
    .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
        max-width: 100% !important;
    }
  }

  ul.gfield_radio,
  ul.gfield_checkbox {
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    li {
      input {
        position: absolute;
        opacity: 0;
        pointer-events: none;

        &:checked + label::after {
          content: "";
          position: absolute;
          width: 14px;
          height: 14px;
          background: color("primary");
          top: 7px;
          left: 9px;
          border-radius: 100%;
        }
      }

      label {
        display: flex;
        align-items: center;
        font-weight: 500 !important;

        &::before {
          content: "";
          width: 24px;
          height: 24px;
          flex: 0 0 24px;
          border-radius: 100%;
          border: 2px solid color("primary");
          background: white;
          margin-right: 8px;
        }
      }

      & + li {
        margin-left: 35px !important;
      }
    }
  }

  ul.gfield_checkbox {
    justify-content: center;

    li {
      label {
        text-align: left;
        max-width: unset;

        &::before {
          border-radius: 0;
        }
      }

      input {
        &:checked {
          & + label {
            &::before {
              background: color("primary");
            }

            &::after {
              border-radius: 0;
              width: 24px;
              height: 24px;
              background: url('../images/check-mark.png');
              background-size:cover;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
            }
          }
        }
      }
    }
  }

  input[type="submit"] {
    @extend .aventi-btn;
  }

  li.gfield.gfield_error {
      background-color: transparent;
      margin-bottom: 0!important;
      border: none;
  }

  @include breakpoint(small down) {
    ul.gfield_radio,
    ul.gfield_checkbox {
      li {
        & + li {
          margin-left: 25px !important;
        }
      }
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  border: unset;
  -webkit-text-fill-color: black;
  background: #f5f5f5 !important;
  -webkit-box-shadow: 0 0 0px 60px #f5f5f5 inset !important;
  background-clip: content-box !important;
}
