.grid3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -13px;

  > * {
    margin: 0 13px 39px;
    flex: 0 0 calc(33.33% - 26px);
  }

  &--padded {
    padding: 20px 0;
  }

  @include breakpoint(medium down) {
    > * {
      flex: 0 0 calc(50% - 26px);
    }
  }

  @include breakpoint(small down) {
    margin: 0;

    > * {
      flex: 0 0 100%;
      margin: 0 0 20px;
    }
  }
}
