body {
  // --wp--style--global--content-size: 1230px;
}

$colors: (
  primary: #67ffbb,
  secondary: #c2dcdc,
  secondaryLight: #e2fbfb,
  headerBG: #fff,
  brandBlack: #151b22,
  blueLight: #d0eefa,
);

@function color($color) {
  @return map-get($colors, $color);
}

$fontStack: "IBM Plex Sans", sans-serif;
$headerHeightDesktop: 67px;
$headerHeightTablet: 67px;
$headerHeightMobile: 67px;
$footerBase: 482px;
